doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title FILES
  link(rel='stylesheet' href='normalize.css')
  link(rel='stylesheet' href='style.css')
.screen
  h1 FILES
    span.blink _
  nav
    | &gt; 
    a(href='/register') register
    |  or login 
    br
    br
    br
  form(action='/login' method='post')
    input(type='text' name='username' placeholder='username' autofocus='' autocomplete='off')
    input(type='password' name='password' placeholder='password' autocomplete='off')
    button(type='submit') login

  h2.error #{session.loginError}
