body {
  font-family: "Spectral", serif;
  font-size: 15px;
  font-weight: 500;
  color: #525252;
}

* {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing-box-sizing: border-box;
}

p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  display: inline;
  text-align: left;
  font-weight: 500;
  color: #525252;
}

a:hover {
  color: red;
}

.a--link {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  min-height: 1.7em;
  width: 11em;
  background-color: #525252;
  display: block;
  border-radius: 0.15em;
  border: 0.1em;
  padding: 0.1em 1em;
  margin: 0.1em 0 0.5em 0;
  color: white;
  cursor: pointer;
}

.a--link:hover {
  background-color: black;
}

form {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.7em;
  line-height: 1.05em;
}

h2 {
  font-size: 2.7em;
  line-height: 1.05em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-family: "Work Sans script=all rev=1", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

.center__text {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.span__instructions {
  font-family: "Work Sans script=all rev=1", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}

.span__counters {
  font-weight: 500;
  margin: 0.2em;
}

main {
  width: 100%;
  display: block;
}

.container {
  max-width: 1090px;
  display: block;
  margin: auto;
}

.container__instructions {
  max-width: 1090px;
  display: block;
  margin: auto;
  border: 0px solid red;
}

header {
  width: 100%;
  display: block;
  padding-bottom: 3em;
}

nav {
  width: 100%;
  display: block;
  margin: auto;
  border-width: 1px;
}

.nav__block__logo {
  border-style: solid;
  border-width: 0px;
  width: 12em;
  position: fixed;
  left: 2em;
  top: -1em;
}

.nav__block__warp {
  border-style: solid;
  border-width: 0px;
  padding-top: 2.2em;
  width: 70%;
  position: fixed;
  right: 5.5em;
  top: -1.5em;
  display: flex;
  justify-content: flex-end;
}

.nav__block__warp__search {
  width: 2.5em !important;
  border-style: solid;
  border-width: 0px;
  padding-top: 1.6em;
  width: 5em;
}

.nav__block__warp__menu {
  border-style: solid;
  border-width: 0px;
}

.nav__block__warp__profile {
  width: 3em;
  border-style: solid;
  border-width: 0px;
  width: 5em;
  position: fixed;
  right: 0.5em;
  top: 1.5em;
}

.nav__block__warp__profile__text {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(-90deg);
  padding-bottom: 0em;
  padding-right: 0em;
  text-align: center;
}

.section__instructions {
  width: 100%;
  display: block;
  background-color: #F6F6F6;
  border-style: solid;
  border-width: 0px;
  margin-top: 9.5em;
}

.section__search {
  width: 100%;
  height: 5em;
  display: block;
  background-color: #525252;
  border-style: solid;
  border-width: 0px;
  margin-top: 9.5em;
  padding-left: 4.7em;
  color: white;
}

.section__search__warp {
  position: absolute;
  position-top: 6em;
}

.section__instructions__form {
  width: 100%;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  display: flex;
  justify-content: flex-end;
}

.section__instructions__form-half {
  width: 50%;
  padding-top: 2em;
  padding-bottom: 3em;
  border-style: solid;
  border-width: 0px;
}

.section__instructions-block--flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 0px solid red;
}

.section__instructions-block {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  width: 25%;
  height: 15em;
  border: 0px solid red;
}

.section__instructions__text {
  width: 100%;
  display: block;
  padding-right: 5em;
  border: 0px solid red;
}

.section__instructions__icon {
  width: 100%;
  display: block;
  text-align: center;
  border: 0px solid red;
  padding-right: 5em;
  margin: 0;
}

.section_instructions__icon__box {
  width: 3.3em;
  height: 3.3em;
  margin: auto;
}

.section_instructions__icon--minibox {
  width: 2em;
  height: 2em;
  margin: auto;
}

.container__list-products {
  max-width: 1090px;
  display: block;
  margin: auto;
  border: 0px solid red;
  margin-top: 6em;
}

.container__list__one-product {
  display: flex;
  width: 100%;
  padding-bottom: 6em;
}

.container__list-histories {
  max-width: 100%;
  display: flex;
  border: 0px solid red;
}

.container__list__story {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 6em;
  border: 0px solid red;
}

.container__list__story__block {
  width: 50%;
  display: block;
  border: 0px solid green;
}

.container__list__story__block--auto {
  width: auto;
  display: block;
  border: 0px solid red;
}

.container__list__story__block--content {
  width: 50%;
  display: block;
  border: 0px solid red;
  padding-right: 6em;
}

.container__list__story__block--content__text {
  width: 100%;
  display: block;
  border: 0px solid red;
}

.container__list__story__block--content__profile {
  width: 100%;
  display: flex;
  border: 0px solid red;
}

.container__list__story__block--content__profile__name-date {
  width: 100%;
  display: flex;
  padding-left: 0.7em;
}

.container__list__story__block--counter {
  width: 20%;
  display: block;
  border: 0px solid blue;
}

.figure__warp {
  width: 50%;
  min-height: 3em;
  display: block;
  border: 0px solid red;
  padding: 0;
  margin: 0;
}

.figure__warp__image {
  display: block;
  width: 100%;
}

.figure__image {
  max-width: 100%;
  height: auto;
  display: block;
}

.counter__warp {
  width: 9em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1.5em;
  border: 0px solid red;
}

.counter_block {
  width: 40%;
  margin: auto;
  text-align: center;
  display: block;
  padding: 0.2em;
  border: 0px solid red;
  font-family: "Work Sans script=all rev=1", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  border: 1px solid #525252;
  border-radius: 2em;
}

.counter_block--post {
  width: 6em;
  text-align: center;
  font-family: "Work Sans script=all rev=1", sans-serif;
  font-weight: 500;
  border: 1px solid #525252;
  border-radius: 2em;
}

.object__article__warp {
  width: 50%;
  display: block;
  border: 0px solid red;
}

.object__article__text-block {
  width: 50%;
  display: block;
  border: 0px solid red;
}

.object__article__title-block {
  width: 100%;
  display: block;
  text-align: center;
  border: 0px solid red;
  padding: 0.4em 3em 0 3em;
}

.object__article__author-block {
  width: 100%;
  display: block;
  text-align: center;
  border: 0px solid red;
}

.text__instructions {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.white__text {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 0em 0.4em;
  text-decoration: none;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  min-height: 1.7em;
  width: 11em;
  background-color: #525252;
  display: block;
  border-radius: 0.15em;
  border: 0.1em;
  padding: 0.1em 1em;
  margin: 0.1em 0 0.5em 0;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

input:focus, textarea:focus {
  outline: none !important;
  border: 1px solid #525252;
  box-shadow: 0 0 5px #525252;
}

button:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

input, textarea {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  width: 11em;
  background-color: white;
  display: block;
  border-radius: 0.15em;
  min-height: 1.7em;
  border: 1px solid #525252;
  padding: 0.2em 0.4em;
  margin: 0em 0 0.5em 0;
  color: #525252;
}

.input--search {
  font-family: "Spectral", serif;
  font-size: 2.87em;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: #525252;
  color: white;
  placeholder: white;
  border: 0px solid white;
}

.input--height {
  width: 28em;
  height: 5em;
}

.input--height--text {
  height: 19em;
  width: 28em;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .section__instructions-block--flex {
    padding-left: 3%;
    padding-right: 3%;
  }

  .container__list__story__block--content {
    width: 60%;
    padding-right: 4em;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .section__instructions-block {
    padding-top: 1em;
    width: 5;
  }

  .section__instructions-block--flex {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section__instructions__form-half {
    width: 80%;
  }

  .section__instructions-block {
    padding-top: 1em;
    padding-right: 0;
    magin: 0;
    width: 50%;
  }

  .container__list__story__block--content {
    width: 90%;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }

  .container__list__one-product {
    display: flex;
    flex-direction: column;
  }

  .object__article__warp {
    width: 90%;
    margin: auto;
  }

  .figure__warp {
    width: 90%;
    margin: auto;
  }

  .section__instructions-block {
    padding-top: 1em;
    padding-right: 0;
    magin: 0;
    width: 50%;
  }

  .section__instructions__icon {
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
  }

  .section__instructions__text {
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
  }

  .section__instructions-block--flex {
    padding-left: 5%;
    padding-right: 5%;
  }

  .object__article__warp {
    width: 100%;
  }

  .object__article__text-block {
    width: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
